

.wrapper-home-banner .home-banner-pd{
    padding: 0px;
}
.wrapper-home-banner img{
    width: 100%;
}
.banner-category{
    position: relative;
    overflow: hidden;
}
.banner-category .caption-banner h2::after{
    display: block;
    content: "";
    width: 40px;
    height: 4px;
    background: #000;
    margin: auto;
    margin-top: 30px;
    transition: all 150ms linear;
}
.banner-category .link-banner{
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    
}
.banner-category .caption-banner{
    position: absolute;
    text-align: center;
    padding: 0 20px;
    z-index: 2;
}
.banner-category .caption-banner h2{
    font-size: 20px;
    margin-bottom: 0;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
}
.wrapper-home-banner .banner-category img:hover{
    
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
    
    
}
.banner-category img{
   
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 1s ease-in-out;
	transition: 4s ease-in-out;
}
.wrapper-home-banner .banner-category a:hover  h2::after{
    width: 70px;
    
}
