.owl-nav{
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: block;
}
.fas{
    font-weight: 400 !important;
    font-size: 25px;
    margin-top: 30px;
}


.owl-nav div{
    display: inline-block;
    background: #fff;
    width: 80px;
    height: 80px;
    text-align: center;
    margin-left: -4px;
}
.owl-nav div:hover{
    background: rgb(255,255,255,0.5);
}